main {
	
	background-color: #90A4AE;
	width: 274px;
	height: 548px;
	padding: 4px;
	margin: 65px;
	position: relative;

}


#theBigO {

	position: absolute;
	left: 118.25px;
	top:10.25px;

}

#protagonist {

position: absolute;
left: 112px;
bottom: 4px;

}

.mdc-elevation--z2 {
	border-radius: 50%;
}


.mdc-elevation--z1 {

	border-top-right-radius: 50%;
	border-top-left-radius: 50%;

}